mixin navbar(user)
    nav.mb-1.navbar.navbar-expand-lg.navbar-dark.bg-dblue
        a(href="/").navbar-brand
        button(type="button",data-toggle="collapse",data-target="#navbarSupportedContent-4",
            aria-controls="navbarSupportedContent-4",aria-expanded="false",aria-label="Toggle navigation").navbar-toggler
            span.navbar-toggler-icon
        div(id="navbarSupportedContent-4").collapse.navbar-collapse
            div.container
                if user
                    ul.navbar-nav
                        li.nav-item.p-1
                            a(href="/").nav-link Home
                        li.nav-item.p-1
                            a(href="/needs").nav-link Needs
                        li.nav-item.p-1
                            a(href="/supports").nav-link Supports
                        li.nav-item.p-1
                            a(href="/confirmed_needs").nav-link Approved Needs
                        li.nav-item.p-1
                            a(href="/confirmed_supports").nav-link Approved Supports
                    ul.navbar-nav.ml-auto
                        li.nav-item.mr-3.row
                            span.navbar-text.c-white.pr-1 Welcome, 
                            span.navbar-text #{user.firstname + " " + user.lastname }
                        li.nav-item
                            a(href="/logout").nav-link Logout
                else
                    ul.navbar-nav
                        li.nav-item
                            a(href="/").nav-link Home
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a(href="/signup").nav-link Register
                        li.nav-item
                            a(href="/login").nav-link Login
    