.bg-grey{background-color: rgba(233, 233, 233, 0.514);}
.bg-white{background-color: white;}
.c-orange{color: orange!important;}
.bg-blue{background-color: rgba(51, 182, 229, 0.11);}
.bg-dblue{background-color: rgb(25, 78, 97)!important;}
.c-white{color: white!important;}
.c-dblue{color: rgb(25, 78, 97)!important;}
.mybtn-success{padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;background-color: rgb(107, 216, 107);
    color: white!important;font-weight: 600;border: 1px solid rgb(182, 182, 182);border-radius: 4px;box-shadow: 1px 1px 3px rgb(226, 226, 226);
}
.mybtn-edit{padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;background-color: rgb(54, 131, 204);
    color: white!important;font-weight: 600;border: 1px solid rgb(182, 182, 182);border-radius: 4px;box-shadow: 1px 1px 3px rgb(226, 226, 226);
}
.mybtn-danger{padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;background-color: rgb(219, 64, 64);
    color: white!important;font-weight: 600;border: 1px solid rgb(182, 182, 182);border-radius: 4px;box-shadow: 1px 1px 3px rgb(226, 226, 226);
}
.abc{align-items: center;align-self: center;align-content: center;justify-content: center;}
.w-50{width: 50%!important;}
.w-40{width: 40%!important;}
.my-hr{border: none;height: 1px;color: #333;background-color: #333;}
.vis-hid{visibility: hidden;}
.bg-gray{background-color: rgba(128, 128, 128, 0.144);}
.text-xs{font-size: small;}
.absolute{position: absolute;}
.relative{position: relative;}
.bottom-0{bottom: 0;}
.logout-button{padding: 0!important;border: none!important;background: none!important;}
.mt-7px{margin-top: 7px;}
