extends ../layout

block content
  .container
    .col-lg-12.mt-5
      .col-lg-6.mx-auto
        form(action="/login",method="POST").text-center.border.border-light.p-5.rounded.bg-grey
            p.h2.mb-4 Giriş Yap
            input(type="username",name="username",placeholder="Kullanıcı Adı").form-control.mb-4
            input(type="password",name="password",placeholder="Parola").form-control.mb-4
            div.d-flex.justify-content-around
                div
                  a(href="") Şifreni mi unuttun?
            button(type="submit").btn.btn-info.btn-block.mt-3 Giriş Yap
            a(href="/signup").btn.btn-orange.btn-block.my-4  Kayıt Ol


